.white_text{
    color: #ffffff;
}
.navbar-brand:hover{
    color: #ffda6a;
}
.busket, .user_sign{
    /* background-color: #ffffff; */
    padding: 2px;
    border-radius: 3px;
    -webkit-filter: invert(1);
    filter: invert(1);
    /* background-color: red; */
}
.busket:hover, .user_sign:hover{
    /* background-color: #212529; */
    
    background-color: #524a42;
    padding: 2px;
    border-radius: 3px;
}
