<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/adminpanel.css">
    <title>Smartphome</title>
</head>

<body>
    <div class="content d-flex flex-column">
        <div class="top sticky-top ">
            <nav class="navbar bg-dark ">
                <div class="container-fluid d-flex flex-row justify-content-between align-items-center">


                    <div class="logo ms-2 " role="button">
                        <a class="navbar-brand white_text d-block" href="/">Smartphome</a>
                    </div>

                    <div class="icons d-flex flex-row me-3">

                        <div class="options me-2" id="clickable-div-settings" type="button">
                            <a href="/adminpanel">
                                <img src="./img/settings_light.png" alt="settings.png" class="cart_img" width="32px"> 
                            </a>
                        </div>

                        <div class="options me-2" id="clickable-div-logout" type="button">
                            <img src="./img/logout_light.png" alt="settings.png" class="cart_img" width="32px">
                        </div>
                    </div>
                </div>
            </nav>
            <button id="delete_user" style="float:left;cursor: pointer;border: none;width: 100px;height: 25px;background-color: red;color: black; margin-left: 5px;">Видалити</button>
            <button id="cancel_user" style="float:left;cursor: pointer;border: none;width: 100px;height: 25px;background-color: grey;color: white; margin-left: 5px;display: none">Відмінити</button>
            <button id="reduct_user" style="float:left;cursor: pointer;border: none;width: 100px;height: 25px;background-color: darkorange;color: black; margin-left: 5px;">Редагувати</button>
            <button onclick="location.reload()" id="red_cancel_user" style="float:left;cursor: pointer;border: none;width: 100px;height: 25px;background-color: #12b71b;color: white; margin-left: 5px;display: none">Прийняти</button>
        </div>
        <div class="main">
            <div class="table">
                <table style="margin:auto">
                    <thead>
                      <tr>
                        <th>№</th>
                        <th>E-mail</th>
                        <th>Password</th>
                        <th>Admin</th>
                      </tr>
                    </thead>
                  <tbody class="tbody">
                  </tbody>
                </table>
            </div>
        </div>


        <div class="footer container-fluid bg-dark white_text d-flex flex-row justify-content-around pt-3 pb-3 mt-3">
            <div class="footer-aboutus w-25">
                <div class="footer-caption mb-2">
                    Про нас
                </div>
                <div class="sidebar-text">Сайт створено з метою здачі курсової роботи 2023 року (2-й семестер 3-ого
                    курсу) Михайлом Капусняком</div>
            </div>
            <div class="footer-contact-info  w-25">
                <div class="footer-caption mb-2">
                    Контактна інформація
                </div>
                <div class="sidebar-text">
                    bokuwaikitei@gmail.com
                    <br>
                    +38(080)-000-00-00
                </div>
            </div>
            <div class="footer-found-bug  w-25">
                <div class="footer-caption mb-2">
                    Знайшли помилку?
                </div>
                <div class="sidebar-text">
                    Будь ласка, повідомне про неї повідомити за адресою bokuwaikitei@gmail.com
                </div>
            </div>
        </div>
    </div>


    <script src="/js/frontend/logout.js"></script>
    <script src="/js/frontend/adminpanel.js"></script>
    <!-- <script src="/js/frontend/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script> -->
</body>

</html>